# Estimation Approach to Statistical Inference
## Operations to Make Functions Available

### xData

S3method(plotData,default)
S3method(plotData,formula)
export(plotData)

### xDensity

S3method(plotDensity,default)
S3method(plotDensity,formula)
export(plotDensity)

### xPlausible

export(plotIntervals)
export(plotPlausible)

### xFrequencies

S3method(describeFrequencies,default)
S3method(describeFrequencies,formula)
export(describeFrequencies)

### xFrequencies

S3method(.describePercentiles,default)
S3method(.describePercentiles,formula)
export(.describePercentiles)
export(describePercentiles)

### xBoxes

S3method(describeBoxes,default)
S3method(describeBoxes,formula)
export(describeBoxes)

S3method(plotBoxes,default)
S3method(plotBoxes,formula)
export(plotBoxes)

### xMeans

S3method(.describeMeans,default)
S3method(.describeMeans,formula)
export(.describeMeans)
export(describeMeans)

S3method(.estimateMeans,default)
S3method(.estimateMeans,formula)
S3method(.estimateMeans,wss)
S3method(.estimateMeans,bss)
export(.estimateMeans)
export(estimateMeans)

S3method(plotMeans,default)
S3method(plotMeans,formula)
S3method(plotMeans,wss)
S3method(plotMeans,bss)
export(plotMeans)

S3method(.testMeans,default)
S3method(.testMeans,formula)
S3method(.testMeans,wss)
S3method(.testMeans,bss)
export(.testMeans)
export(testMeans)

### xStandardizedMeans

S3method(estimateStandardizedMeans,default)
S3method(estimateStandardizedMeans,formula)
S3method(estimateStandardizedMeans,wss)
S3method(estimateStandardizedMeans,bss)
export(estimateStandardizedMeans)

S3method(plotStandardizedMeans,default)
S3method(plotStandardizedMeans,formula)
S3method(plotStandardizedMeans,wss)
S3method(plotStandardizedMeans,bss)
export(plotStandardizedMeans)

### xMeanDifference

S3method(estimateMeanDifference,default)
S3method(estimateMeanDifference,formula)
S3method(estimateMeanDifference,wss)
S3method(estimateMeanDifference,bss)
export(estimateMeanDifference)

S3method(testMeanDifference,default)
S3method(testMeanDifference,formula)
S3method(testMeanDifference,wss)
S3method(testMeanDifference,bss)
export(testMeanDifference)

S3method(plotMeanDifference,default)
S3method(plotMeanDifference,formula)
S3method(plotMeanDifference,wss)
S3method(plotMeanDifference,bss)
export(plotMeanDifference)

### xStandardizedMeanDifference

S3method(estimateStandardizedMeanDifference,default)
S3method(estimateStandardizedMeanDifference,formula)
S3method(estimateStandardizedMeanDifference,wss)
S3method(estimateStandardizedMeanDifference,bss)
export(estimateStandardizedMeanDifference)

S3method(plotStandardizedMeanDifference,default)
S3method(plotStandardizedMeanDifference,formula)
S3method(plotStandardizedMeanDifference,wss)
S3method(plotStandardizedMeanDifference,bss)
export(plotStandardizedMeanDifference)

### xMeanComparison

S3method(estimateMeanComparison,default)
S3method(estimateMeanComparison,formula)
S3method(estimateMeanComparison,wss)
S3method(estimateMeanComparison,bss)
export(estimateMeanComparison)

S3method(testMeanComparison,default)
S3method(testMeanComparison,formula)
S3method(testMeanComparison,wss)
S3method(testMeanComparison,bss)
export(testMeanComparison)

S3method(plotMeanComparison,default)
S3method(plotMeanComparison,formula)
S3method(plotMeanComparison,wss)
S3method(plotMeanComparison,bss)
export(plotMeanComparison)

### xMeanContrast

S3method(estimateMeanContrast,default)
S3method(estimateMeanContrast,formula)
S3method(estimateMeanContrast,wss)
S3method(estimateMeanContrast,bss)
export(estimateMeanContrast)

S3method(testMeanContrast,default)
S3method(testMeanContrast,formula)
S3method(testMeanContrast,wss)
S3method(testMeanContrast,bss)
export(testMeanContrast)

S3method(plotMeanContrast,default)
S3method(plotMeanContrast,formula)
S3method(plotMeanContrast,wss)
S3method(plotMeanContrast,bss)
export(plotMeanContrast)

### xStandardizedMeanContrast

S3method(estimateStandardizedMeanContrast,default)
S3method(estimateStandardizedMeanContrast,formula)
S3method(estimateStandardizedMeanContrast,wss)
S3method(estimateStandardizedMeanContrast,bss)
export(estimateStandardizedMeanContrast)

S3method(plotStandardizedMeanContrast,default)
S3method(plotStandardizedMeanContrast,formula)
S3method(plotStandardizedMeanContrast,wss)
S3method(plotStandardizedMeanContrast,bss)
export(plotStandardizedMeanContrast)

### xMeanSubsets

S3method(estimateMeanSubsets,default)
S3method(estimateMeanSubsets,formula)
S3method(estimateMeanSubsets,wss)
S3method(estimateMeanSubsets,bss)
export(estimateMeanSubsets)

S3method(testMeanSubsets,default)
S3method(testMeanSubsets,formula)
S3method(testMeanSubsets,wss)
S3method(testMeanSubsets,bss)
export(testMeanSubsets)

S3method(plotMeanSubsets,default)
S3method(plotMeanSubsets,formula)
S3method(plotMeanSubsets,wss)
S3method(plotMeanSubsets,bss)
export(plotMeanSubsets)

### xMeanComplex

S3method(estimateMeanComplex,default)
S3method(estimateMeanComplex,formula)
S3method(estimateMeanComplex,wss)
S3method(estimateMeanComplex,bss)
export(estimateMeanComplex)

S3method(testMeanComplex,default)
S3method(testMeanComplex,formula)
S3method(testMeanComplex,wss)
S3method(testMeanComplex,bss)
export(testMeanComplex)

S3method(plotMeanComplex,default)
S3method(plotMeanComplex,formula)
S3method(plotMeanComplex,wss)
S3method(plotMeanComplex,bss)
export(plotMeanComplex)

### xMeansPairwise

S3method(estimateMeansPairwise,default)
S3method(estimateMeansPairwise,formula)
S3method(estimateMeansPairwise,wss)
S3method(estimateMeansPairwise,bss)
export(estimateMeansPairwise)

S3method(testMeansPairwise,default)
S3method(testMeansPairwise,formula)
S3method(testMeansPairwise,wss)
S3method(testMeansPairwise,bss)
export(testMeansPairwise)

S3method(plotMeansPairwise,default)
S3method(plotMeansPairwise,formula)
S3method(plotMeansPairwise,wss)
S3method(plotMeansPairwise,bss)
export(plotMeansPairwise)

### xStandardizedMeansPairwise

S3method(estimateStandardizedMeansPairwise,default)
S3method(estimateStandardizedMeansPairwise,formula)
S3method(estimateStandardizedMeansPairwise,wss)
S3method(estimateStandardizedMeansPairwise,bss)
export(estimateStandardizedMeansPairwise)

S3method(plotStandardizedMeansPairwise,default)
S3method(plotStandardizedMeansPairwise,formula)
S3method(plotStandardizedMeansPairwise,wss)
S3method(plotStandardizedMeansPairwise,bss)
export(plotStandardizedMeansPairwise)

### xMeansPosthoc

S3method(estimateMeansPosthoc,default)
S3method(estimateMeansPosthoc,formula)
S3method(estimateMeansPosthoc,wss)
S3method(estimateMeansPosthoc,bss)
export(estimateMeansPosthoc)

S3method(testMeansPosthoc,default)
S3method(testMeansPosthoc,formula)
S3method(testMeansPosthoc,wss)
S3method(testMeansPosthoc,bss)
export(testMeansPosthoc)

S3method(plotMeansPosthoc,default)
S3method(plotMeansPosthoc,formula)
S3method(plotMeansPosthoc,wss)
S3method(plotMeansPosthoc,bss)
export(plotMeansPosthoc)

### xStandardizedMeansPosthoc

S3method(estimateStandardizedMeansPosthoc,default)
S3method(estimateStandardizedMeansPosthoc,formula)
S3method(estimateStandardizedMeansPosthoc,wss)
S3method(estimateStandardizedMeansPosthoc,bss)
export(estimateStandardizedMeansPosthoc)

S3method(plotStandardizedMeansPosthoc,default)
S3method(plotStandardizedMeansPosthoc,formula)
S3method(plotStandardizedMeansPosthoc,wss)
S3method(plotStandardizedMeansPosthoc,bss)
export(plotStandardizedMeansPosthoc)

### xMeansRelational

S3method(estimateMeansRelational,default)
S3method(estimateMeansRelational,formula)
S3method(estimateMeansRelational,wss)
S3method(estimateMeansRelational,bss)
export(estimateMeansRelational)

S3method(plotMeansRelational,default)
S3method(plotMeansRelational,formula)
S3method(plotMeansRelational,wss)
S3method(plotMeansRelational,bss)
export(plotMeansRelational)

### xMeansOmnibus

S3method(.describeMeansOmnibus,default)
S3method(.describeMeansOmnibus,formula)
S3method(.describeMeansOmnibus,wss)
S3method(.describeMeansOmnibus,bss)
export(.describeMeansOmnibus)
export(describeMeansOmnibus)

S3method(.testMeansOmnibus,default)
S3method(.testMeansOmnibus,formula)
S3method(.testMeansOmnibus,wss)
S3method(.testMeansOmnibus,bss)
export(.testMeansOmnibus)
export(testMeansOmnibus)

S3method(.estimateMeansOmnibus,default)
S3method(.estimateMeansOmnibus,formula)
S3method(.estimateMeansOmnibus,wss)
S3method(.estimateMeansOmnibus,bss)
export(.estimateMeansOmnibus)
export(estimateMeansOmnibus)

### xMeansEffect

S3method(.describeMeansEffect,default)
S3method(.describeMeansEffect,formula)
S3method(.describeMeansEffect,wss)
S3method(.describeMeansEffect,bss)
export(.describeMeansEffect)
export(describeMeansEffect)

S3method(.estimateMeansEffect,default)
S3method(.estimateMeansEffect,formula)
S3method(.estimateMeansEffect,wss)
S3method(.estimateMeansEffect,bss)
export(.estimateMeansEffect)
export(estimateMeansEffect)

### xCorrelations

S3method(declareCorrelations,default)
export(declareCorrelations)

S3method(fillCorrelations,default)
export(fillCorrelations)

S3method(.describeCorrelations,default)
export(.describeCorrelations)
export(describeCorrelations)

S3method(describeCovariances,default)
S3method(describeCovariances,wss)
export(describeCovariances)

S3method(estimateCorrelations,default)
S3method(estimateCorrelations,wss)
export(estimateCorrelations)

S3method(testCorrelations,default)
S3method(testCorrelations,wss)
export(testCorrelations)

S3method(plotCorrelations,default)
S3method(plotCorrelations,wss)
export(plotCorrelations)

### xCorrelationDifference

S3method(estimateCorrelationDifference,default)
export(estimateCorrelationDifference)

S3method(plotCorrelationDifference,default)
export(plotCorrelationDifference)

### xCorrelationComparison

S3method(estimateCorrelationComparison,default)
export(estimateCorrelationComparison)

S3method(plotCorrelationComparison,default)
export(plotCorrelationComparison)

### xScatter

S3method(plotScatter,default)
S3method(plotScatter,wss)
export(plotScatter)

### xRegression

export(estimateRegression)

S3method(plotRegression,default)
S3method(plotRegression,wss)
export(plotRegression)

### xRegressionCoefficients

S3method(estimateRegressionCoefficients,default)
S3method(estimateRegressionCoefficients,wss)
export(estimateRegressionCoefficients)

S3method(testRegressionCoefficients,default)
S3method(testRegressionCoefficients,wss)
export(testRegressionCoefficients)

S3method(plotRegressionCoefficients,default)
S3method(plotRegressionCoefficients,wss)
export(plotRegressionCoefficients)

### xStandardizedRegressionCoefficients

S3method(estimateStandardizedRegressionCoefficients,default)
S3method(estimateStandardizedRegressionCoefficients,wss)
export(estimateStandardizedRegressionCoefficients)

S3method(plotStandardizedRegressionCoefficients,default)
S3method(plotStandardizedRegressionCoefficients,wss)
export(plotStandardizedRegressionCoefficients)

### xRegressionOmnibus

S3method(.describeRegressionOmnibus,default)
S3method(.describeRegressionOmnibus,wss)
export(.describeRegressionOmnibus)
export(describeRegressionOmnibus)

S3method(.testRegressionOmnibus,default)
S3method(.testRegressionOmnibus,wss)
export(.testRegressionOmnibus)
export(testRegressionOmnibus)

S3method(.estimateRegressionOmnibus,default)
S3method(.estimateRegressionOmnibus,wss)
export(.estimateRegressionOmnibus)
export(estimateRegressionOmnibus)

### xRegressionEffect

S3method(.describeRegressionEffect,default)
S3method(.describeRegressionEffect,wss)
export(.describeRegressionEffect)
export(describeRegressionEffect)

S3method(.estimateRegressionEffect,default)
S3method(.estimateRegressionEffect,wss)
export(.estimateRegressionEffect)
export(estimateRegressionEffect)

### xMeansBy

S3method(.describeMeansBy,default)
S3method(.describeMeansBy,formula)
export(.describeMeansBy)
export(describeMeansBy)

S3method(.estimateMeansBy,default)
S3method(.estimateMeansBy,formula)
S3method(.estimateMeansBy,wss)
S3method(.estimateMeansBy,bss)
export(.estimateMeansBy)
export(estimateMeansBy)

S3method(plotMeansBy,default)
S3method(plotMeansBy,formula)
S3method(plotMeansBy,wss)
S3method(plotMeansBy,bss)
export(plotMeansBy)

S3method(.testMeansBy,default)
S3method(.testMeansBy,formula)
S3method(.testMeansBy,wss)
S3method(.testMeansBy,bss)
export(.testMeansBy)
export(testMeansBy)

### xMeansOmnibusBy

S3method(.describeMeansOmnibusBy,default)
S3method(.describeMeansOmnibusBy,formula)
S3method(.describeMeansOmnibusBy,wss)
S3method(.describeMeansOmnibusBy,bss)
export(.describeMeansOmnibusBy)
export(describeMeansOmnibusBy)

S3method(.testMeansOmnibusBy,default)
S3method(.testMeansOmnibusBy,formula)
S3method(.testMeansOmnibusBy,wss)
S3method(.testMeansOmnibusBy,bss)
export(.testMeansOmnibusBy)
export(testMeansOmnibusBy)

### xMeansOmnibusMultifactor

S3method(.describeMeansOmnibusMultifactor,default)
S3method(.describeMeansOmnibusMultifactor,formula)
S3method(.describeMeansOmnibusMultifactor,wss)
S3method(.describeMeansOmnibusMultifactor,bss)
export(.describeMeansOmnibusMultifactor)
export(describeMeansOmnibusMultifactor)

S3method(.testMeansOmnibusMultifactor,default)
S3method(.testMeansOmnibusMultifactor,formula)
S3method(.testMeansOmnibusMultifactor,wss)
S3method(.testMeansOmnibusMultifactor,bss)
export(.testMeansOmnibusMultifactor)
export(testMeansOmnibusMultifactor)

### xMeansEffectMultifactor

S3method(.estimateMeansEffectMultifactor,default)
S3method(.estimateMeansEffectMultifactor,formula)
S3method(.estimateMeansEffectMultifactor,wss)
S3method(.estimateMeansEffectMultifactor,bss)
export(.estimateMeansEffectMultifactor)
export(estimateMeansEffectMultifactor)

### xCorrelationsBy

S3method(.describeCorrelationsBy,default)
export(.describeCorrelationsBy)
export(describeCorrelationsBy)
