# Estimation Approach to Statistical Inference
## Operations to Make Function Available

### Define Methods

S3method(describeBoxes,default)
S3method(describeBoxes,formula)
S3method(plotBoxes,default)
S3method(plotBoxes,formula)
S3method(plotViolins,default)
S3method(plotViolins,formula)
S3method(plotData,default)
S3method(plotData,formula)
S3method(describeMeans,default)
S3method(describeMeans,formula)
S3method(estimateMeans,default)
S3method(estimateMeans,formula)
S3method(estimateMeans,wss)
S3method(estimateMeans,bss)
S3method(plotMeans,default)
S3method(plotMeans,formula)
S3method(plotMeans,wss)
S3method(plotMeans,bss)
S3method(testMeans,default)
S3method(testMeans,formula)
S3method(testMeans,wss)
S3method(testMeans,bss)
S3method(estimateStandardizedMeans,default)
S3method(estimateStandardizedMeans,formula)
S3method(estimateStandardizedMeans,wss)
S3method(estimateStandardizedMeans,bss)
S3method(estimateMeanDifference,default)
S3method(estimateMeanDifference,formula)
S3method(estimateMeanDifference,wss)
S3method(estimateMeanDifference,bss)
S3method(testMeanDifference,default)
S3method(testMeanDifference,formula)
S3method(testMeanDifference,wss)
S3method(testMeanDifference,bss)
S3method(plotMeanDifference,default)
S3method(plotMeanDifference,formula)
S3method(plotMeanDifference,wss)
S3method(plotMeanDifference,bss)
S3method(estimateStandardizedMeanDifference,default)
S3method(estimateStandardizedMeanDifference,formula)
S3method(estimateStandardizedMeanDifference,wss)
S3method(estimateStandardizedMeanDifference,bss)
S3method(plotMeanComparison,default)
S3method(plotMeanComparison,formula)
S3method(plotMeanComparison,wss)
S3method(plotMeanComparison,bss)
S3method(estimateMeanContrast,default)
S3method(estimateMeanContrast,formula)
S3method(estimateMeanContrast,wss)
S3method(estimateMeanContrast,bss)
S3method(testMeanContrast,default)
S3method(testMeanContrast,formula)
S3method(testMeanContrast,wss)
S3method(testMeanContrast,bss)
S3method(plotMeanContrast,default)
S3method(plotMeanContrast,formula)
S3method(plotMeanContrast,wss)
S3method(plotMeanContrast,bss)
S3method(estimateMeanSubsets,default)
S3method(estimateMeanSubsets,formula)
S3method(estimateMeanSubsets,wss)
S3method(estimateMeanSubsets,bss)
S3method(testMeanSubsets,default)
S3method(testMeanSubsets,formula)
S3method(testMeanSubsets,wss)
S3method(testMeanSubsets,bss)
S3method(plotMeanSubsets,default)
S3method(plotMeanSubsets,formula)
S3method(plotMeanSubsets,wss)
S3method(plotMeanSubsets,bss)
S3method(estimateStandardizedMeanContrast,default)
S3method(estimateStandardizedMeanContrast,formula)
S3method(estimateStandardizedMeanContrast,wss)
S3method(estimateStandardizedMeanContrast,bss)
S3method(plotStandardizedMeanContrast,default)
S3method(plotStandardizedMeanContrast,formula)
S3method(plotStandardizedMeanContrast,wss)
S3method(plotStandardizedMeanContrast,bss)
S3method(estimateMeansPairwise,default)
S3method(estimateMeansPairwise,formula)
S3method(estimateMeansPairwise,wss)
S3method(estimateMeansPairwise,bss)
S3method(plotMeansPairwise,default)
S3method(plotMeansPairwise,formula)
S3method(plotMeansPairwise,wss)
S3method(plotMeansPairwise,bss)
S3method(testMeansPairwise,default)
S3method(testMeansPairwise,formula)
S3method(testMeansPairwise,wss)
S3method(testMeansPairwise,bss)
S3method(estimateStandardizedMeansPairwise,default)
S3method(estimateStandardizedMeansPairwise,formula)
S3method(estimateStandardizedMeansPairwise,wss)
S3method(estimateStandardizedMeansPairwise,bss)
S3method(plotStandardizedMeansPairwise,default)
S3method(plotStandardizedMeansPairwise,formula)
S3method(plotStandardizedMeansPairwise,wss)
S3method(plotStandardizedMeansPairwise,bss)
S3method(estimateMeansRelational,default)
S3method(estimateMeansRelational,formula)
S3method(estimateMeansRelational,wss)
S3method(estimateMeansRelational,bss)
S3method(plotMeansRelational,default)
S3method(plotMeansRelational,formula)
S3method(plotMeansRelational,wss)
S3method(plotMeansRelational,bss)
S3method(describeMeansOmnibus,default)
S3method(describeMeansOmnibus,formula)
S3method(describeMeansOmnibus,wss)
S3method(describeMeansOmnibus,bss)
S3method(testMeansOmnibus,default)
S3method(testMeansOmnibus,formula)
S3method(testMeansOmnibus,wss)
S3method(testMeansOmnibus,bss)
S3method(estimateEffectOmnibus,default)
S3method(estimateEffectOmnibus,formula)
S3method(estimateEffectOmnibus,wss)
S3method(estimateEffectOmnibus,bss)
S3method(describeCorrelations,default)
S3method(estimateCorrelations,default)
S3method(estimateCorrelations,wss)
S3method(plotCorrelations,default)
S3method(plotCorrelations,wss)
S3method(testCorrelations,default)
S3method(testCorrelations,wss)

### Export Functions

export(describeBoxes)
export(plotBoxes)
export(plotViolins)
export(plotData)
export(describeMeans)
export(estimateMeans)
export(plotMeans)
export(testMeans)
export(estimateStandardizedMeans)
export(plotStandardizedMeans)
export(estimateMeanDifference)
export(testMeanDifference)
export(plotMeanDifference)
export(estimateStandardizedMeanDifference)
export(plotMeanComparison)
export(estimateMeanContrast)
export(testMeanContrast)
export(plotMeanContrast)
export(estimateMeanSubsets)
export(testMeanSubsets)
export(plotMeanSubsets)
export(estimateStandardizedMeanContrast)
export(plotStandardizedMeanContrast)
export(estimateMeansPairwise)
export(plotMeansPairwise)
export(testMeansPairwise)
export(estimateStandardizedMeansPairwise)
export(plotStandardizedMeansPairwise)
export(estimateMeansRelational)
export(plotMeansRelational)
export(describeMeansOmnibus)
export(testMeansOmnibus)
export(estimateEffectOmnibus)
export(describeCorrelations)
export(estimateCorrelations)
export(plotCorrelations)
export(testCorrelations)
